<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,user-scalable=no"/> 
<title>木憧微信平台</title>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

<style type="text/css">
body
{
font-family:Microsoft YaHei, SimSun, SimHei;
}
</style>
</head>
<body data-ng-app="laiyd">

 <div data-ng-view class="container text-center page-container row-fluid"></div>

 
 <script src="/js/angular.min.js"></script>
 <script src="/js/angular-route.js"></script>
 <script src="/js/angular-resource.js"></script>
 <script src="/js/ui-bootstrap-tpls-0.11.0.js"></script>


 <script src="content/modules/app.js"></script>
 <script src="content/modules/directive.js"></script>

 <script src="/content/modules/resource.js"></script>
 <script src="/content/modules/filter.js"></script>
 <script src="/content/modules/service.js"></script>
 
 <script src="content/controllers/main.js"></script>


</body>
</html>