<br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
	<a href="#/myAct" class="btn btn-default"><h4><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> 我的活动</h4></a>
	<a href="#/search" class="btn btn-default"><h4><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查找活动</h4></a>
	<a href="#/edit" class="btn btn-primary"><h4><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 发起活动</h4></a>
</div>
<hr />
<form name="actForm" class="form-horizontal" >
	<div class="form-group">
		<label class="col-xs-3 control-label">活动类型</label>
		<div class="col-xs-9">
			<select class="form-control col-sm-10" data-ng-model="activity.type" data-ng-options="value for value in types"></select>
		</div>
	</div>
	<div class="form-group">
        <label class="col-xs-3 control-label" for="dtp_input1">活动时间</label>
        <div class="col-xs-9 ">
	        <div class="input-group date form_datetime" data-date-format="yyyy/mm/dd hh:ii" data-link-field="dtp_input1">
	            <input class="form-control" type="text" data-ng-model="activity.startTime" >
	            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
	        </div>
    	</div>
		<input type="hidden" id="dtp_input1" /><br/>
    </div>
	<div class="form-group">
		<label class="col-xs-3 control-label">活动时长</label>
		<div class="col-xs-9">
			<select class="form-control col-sm-10" data-ng-model="activity.hours" data-ng-options="value for value in hours"></select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-3 control-label">活动地点</label>
		<div class="col-xs-9">
			<input type="text" class="form-control" data-ng-model="activity.address">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-3 control-label">活动内容</label>
		<div class="col-xs-9">
			<textarea rows="3" class="form-control" data-ng-model="activity.content"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-3 control-label" title="活动人数少于最低人数时，活动将自动取消">人数限制</label>
		<div class="col-xs-9">
			<div class="input-group">
				<input type="number" min="0" class="form-control" title="0表示不限制人数" data-ng-model="activity.minUsers">
				<div class="input-group-addon">~</div>
				<input type="number" min="0" class="form-control" title="0表示不限制人数" data-ng-model="activity.maxUsers">
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-3 control-label">人员审批</label>
		<div class="col-xs-9">
			<select class="form-control col-sm-10" data-ng-model="activity.auditMethod" data-ng-options="value for value in auditMethods"></select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-3 control-label">允许匿名</label>
		<div class="col-xs-3 text-left">
			<input type="checkbox" data-ng-model="activity.allowAnonymous" data-ng-true-value="'是'" data-ng-false-value="'否'">
		</div>
		<label class="col-xs-3 control-label">管理费用</label>
		<div class="col-xs-3 text-left">
			<input type="checkbox" data-ng-model="isManagerAmount" data-ng-true-value="1" data-ng-false-value="0">
		</div>
	</div>
	<div class="form-group"data-ng-show="isManagerAmount">
		<label class="col-xs-3 control-label">费用总额</label>
		<div class="col-xs-9">
			<div class="input-group">
				<div class="input-group-addon">￥</div>
				<input type="number" class="form-control" min="0" data-ng-model="activity.amount">
				<div class="input-group-addon">.00</div>
			</div>
		</div>
	</div>
</form>

<button class="btn btn-success btn-block btn-lg" data-ng-click="onSave()"><span class="glyphicon glyphicon-send"></span> 保存发布</button>
<br>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    var endate = new Date();
    endate.setDate(endate.getDate() + 30);
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
        maxView: 2,
		forceParse: 0,
        showMeridian: 0,
        language: 'zh-CN',
        minuteStep: 30,
        startDate: new Date(),
        endDate: endate
    });
</script>